.icc-loader {
  min-height: 100vh;
  width: 100%;
  background-color: #16161663;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.icc-loader .IccLogo {
  height: 80px;
  margin: 0 48px;
  border-radius: 16px;
  margin-bottom: 20px;
}
.icc-loader .container {
  margin: 0 50px;
  width: fit-content;
  height: auto;
  overflow: hidden;
}
